[workspace]
members = [
    "core",
    "engine",
    "strategy",
    "executor",
]
resolver = "2"

[profile.release]
opt-level = 3
lto = "fat"
codegen-units = 1
panic = "abort"
debug = false

[patch.crates-io]
protobuf-src = { path = "libs/protobuf-src-stub" }
